.config-btn{
  position:absolute;
  top:16px;right:13px;
  display:block;
  font-size: 23px;
  width:30px; height:30px;
  cursor:pointer;
}

.popin--tweets-config{
	top:40px;
	right:15px;
	left:auto;
}